@font-face {
    font-family: 'TeXGyrePagella';
    src: url('fonts/texgyrepagella-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url('fonts/texgyrepagella-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url('fonts/texgyrepagella-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url('fonts/texgyrepagella-bolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


body {
    font-family: 'TeXGyrePagella', serif;
    /*font-family: 'Songti SC', serif;*/
    font-size: 15px;
    color: #46433A;
    background-color: #eeeeee;
    /*line-height: 1.7;*/
    /*overflow-x:hidden*/
}

h1 {
    font-size:2em
}

h2 {
    font-size:1.5em;
    border-bottom: .1rem solid rgba(206, 83, 77, 0.58); /* 设置1px黑色实线下划线 */

}

h6 {
    font-size: 11px;
    font-weight:100
}

p{
    font-size: 15px;
}

b{
    font-size: 15px;
}

h1, h2, h3, h4, h5 {

    font-family: 'TeXGyrePagella', serif;
    /*font-family: 'Songti SC', serif;*/

}

.sub-sec h1,h2{
    color: #CE534D;
}

header {
    /*min-width: 178px;*/
    flex: 1 1 auto;
}

main {
    width: 80%;
    flex: 1 1 auto;
    margin: 0 0 0 5%;
}

main > h1 {
    margin-top:0
}

.note {
    font-size:.5em
}

ul.minimal {
    list-style-type: none;
    padding: 0;
    margin:0
}

ul.social {
    padding: 0px;
    margin: 5px auto;
    display: block;
    text-align:right
}

ul.social ul {
    display: inline-block;
    margin:0 5%
}

i {
    opacity:.75
}

i:hover {
    opacity:1
}

h2 {
    margin:30px 0px 5px 0px
}

hr {
    border: 0;
    height: 1px;
    background-image:linear-gradient(to right, transparent, rgba(0, 0, 0, 0.25), transparent)
}

.sidebar-nav {
    margin: auto;
    margin-top: 30px;
    display:flex
}

.sidebar-nav-item {
    margin: 5px;
    flex:1 1 auto
}

.header-wrapper {
    display: flex;
    /*width: 900px;*/
    max-width: 750px;
    /*max-width: 1200px;*/
    /*padding: 5rem 4rem 5rem 4rem;*/
    /*margin: 10rem auto auto auto;*/
    justify-content:center;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    /*border-radius: 15px;*/
    width: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
    /*width: 900px;*/
    max-width: 750px;
    /*min-width: 500px;*/
    padding: 2rem 4rem 5rem 4rem;
    margin: auto auto auto auto;
    justify-content:center;
    background-color: rgba(255, 255, 255, 0.6);
    /*border-radius: 15px;*/
    /*width: 100%;*/
}

a:link, a:visited, a:hover, a:active {
    color: #CE534D;
    text-decoration:none
}

a:hover {
    text-decoration:underline
}

a#chn-name-link {
    color:#46433A;
}

a#name-link {
    color:#46433A;
}

.author-container{
    text-align: right;
}

.author-container h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom:0;
}

.pub {
    /*margin: 1rem 0 1rem;*/
    /* background-color: #ececef; */
    /* border-radius: 2px;*/
    /*border-bottom: 0.1rem solid rgba(138, 134, 134, 0.6); !* 需要指定边框的宽度和样式 *!*/
    transition: background-color 0.3s ease; /* 平滑过渡效果 */
}

.pub-title {
    color: #456fc3; /* 浅蓝色 */
}

.pub:hover {
    background-color: rgba(138, 134, 134, 0.12); /* 鼠标悬停时背景变为浅灰色 */
}

.pub .pub-content{
    padding: 1rem 1rem 1rem 1rem;
}

.pub p {
    margin:0
}

.pub-description, .pub > a {
    font-size:.7rem
}

.project {
    margin-top:15px
}

.project-title {
    font-weight: bold;
    font-size:14px
}

.project-description {
    margin-top: 3px;
    display:inline
}

.post {
    margin-bottom:20px
}

.post-title {
    font-weight: bold;
    font-size:14px
}

.post-date {
    font-size: 10px;
    color: #adadad;
    padding:4px
}

.post-subtitle {
    margin-top:3px
}

.post-footnote {
    font-size: 12px;
    color: #adadad;
    font-style:italic
}

img + em {
    font-size: 12px;
    color: #adadad;
    font-style: italic;
    display: block;
    text-align:center
}

.text-content-container {
    max-width: 700px;
    margin-bottom:150px
}

#gallery {
    column-gap: 10px;
    line-height:2
}

#gallery img {
    width:100%
}

#gallery .placeholder:hover {
    opacity: .9;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition:opacity .2s ease-out
}

.placeholder {
    background-color: #background-color;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    break-inside:avoid-column
}

.placeholder img {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transition:opacity 0.5s linear
}

.placeholder img.loaded {
    opacity:1
}

.img-small {
    filter: blur(50px);
    transform:scale(1)
}

.author-container img{
    width: 12rem;
}

.edu-item{
    display: flex; align-items: center; flex: 2;
}

.edu-item img{
    width: 20%; margin-right: 2.5rem; margin-left: 2.5rem;
}


/* Tab 按钮区域 */
.tabs {
    /*width: 50%;*/
    display: flex;
    justify-content: space-between;   /* 左右均匀分布 */
    align-items: center;
    background-color: #CE534D;        /* 背景颜色 */
    margin-bottom: 2rem;            /* 下部留空 */
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CE534D;
    margin-bottom: 1.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
}

.tab-btn {
    color: #ffffff;
    flex: 1;
    text-align: center;
    border: none;
    background: transparent;
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    opacity: 0.8;
    text-decoration: none;   /* 去掉链接下划线 */
}

.tab-btn.active {
    color: #ffffff;
    font-weight: 600;
    opacity: 1;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 4px;
}

.tab-panel {
    display: none;
}
.tab-panel.active {
    display: block;
}

@media (max-width: 750px) {

    .author-container{
        text-align: center;
    }

    /*.text-content-container img {*/
    /*    width: 100%;*/
    /*    margin-top:20px*/
    /*}*/

    .header-wrapper {
        flex-direction: column;
        width: 100%;
    }


    body{
        /*padding: 1rem;*/
    }

    main{
        width: 100%;
        margin: 0 0 0 0;
    }

    header {
        text-align:center
    }
}
